@import "tailwindcss";

@theme {
    --color-brand-primary: var(--brand-primary);
    --color-brand-secondary: var(--brand-secondary);
    --color-bg-main: var(--bg-main);
    --color-bg-soft: var(--bg-soft);
    --color-text-main: var(--text-main);
    --color-text-muted: var(--text-muted);
}

:root {
    --brand-primary: #60a5fa;
    --brand-secondary: #3b82f6;
    --bg-main: #0f172a;
    --bg-soft: #1e293b;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
}

[data-theme='dark'] {
    /* LIGHT MODE */
    --brand-primary: #2563eb;
    --brand-secondary: #1e40af;
    --bg-main: #ffffff;
    --bg-soft: #f8fafc;
    --text-main: #0f172a;
    --text-muted: #475569;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}

html {
    scroll-behavior: smooth;
}